# Bỏ qua thư mục thư viện nặng
node_modules/

# Bỏ qua file chứa mật khẩu kết nối database, bảo mật
.env
.env.local

# Bỏ qua các file log hệ thống khi chạy lỗi
*.log
npm-debug.log*

# Bỏ qua thư mục cấu hình riêng của VS Code
.vscode/