# Bỏ qua thư mục thư viện nặng
node_modules/

# Bỏ qua file chứa mật khẩu kết nối database, bảo mật
# LƯU Ý: .env.example KHÔNG được ignore - đây là template public, phải commit
.env
.env.local

# Bỏ qua các file log hệ thống khi chạy lỗi
*.log
npm-debug.log*

# Bỏ qua thư mục cấu hình riêng của VS Code
.vscode/

keys/
*.pk
*.pem

docs/

# Build & test output
dist/
coverage/